.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: var(--token-37pHizh-si_m);
  padding: 28px;
}
.img {
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 72px;
  min-width: 0;
  padding: 8px 35px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Outfit", sans-serif;
  font-size: 32px;
  min-width: 0;
}
.text__gCmZf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 25px;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  margin-top: 14px;
  min-width: 0;
}
.text__ttxyy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 32px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin-top: 29px;
  min-width: 0;
}
