@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Outfit%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-37pHizh-si_m: #ffffff;
  --plasmic-token-unnamed-style-token: var(--token-37pHizh-si_m);
  --token-lKWANQKSAmB-: #2563eb;
  --plasmic-token-brand-brand: var(--token-lKWANQKSAmB-);
  --token-Ev-92DoZQ_TO: 0.5rem;
  --plasmic-token-size-8: var(--token-Ev-92DoZQ_TO);
  --token-8JpPRUcDNw5i: Inter;
  --plasmic-token-sans-serif: var(--token-8JpPRUcDNw5i);
  --token-cyE7GrZAzbgX: 1rem;
  --plasmic-token-font-md: var(--token-cyE7GrZAzbgX);
  --token-fnxT9xncFbnr: 1.25;
  --plasmic-token-line-height-md: var(--token-fnxT9xncFbnr);
  --token-dIyhnxpbgdTg: 0.375rem;
  --plasmic-token-size-6: var(--token-dIyhnxpbgdTg);
  --token-eZK1hlHuzrO5: #374151;
  --plasmic-token-neutral-neutral: var(--token-eZK1hlHuzrO5);
  --token-E3Si1lVI6Y5q: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-E3Si1lVI6Y5q);
  --token-VaEPnMpybsP1: #6b7280;
  --plasmic-token-muted-muted: var(--token-VaEPnMpybsP1);
  --token-89oACCTadlSN: 0.25rem;
  --plasmic-token-size-4: var(--token-89oACCTadlSN);
  --token-tzVjXOPv9j2q: 0.75rem;
  --plasmic-token-font-sm: var(--token-tzVjXOPv9j2q);
  --token-pmn6V9u0N8oB: 1;
  --plasmic-token-line-height-sm: var(--token-pmn6V9u0N8oB);
  --token-kdRIEEZ2phAk: 1.25rem;
  --plasmic-token-font-lg: var(--token-kdRIEEZ2phAk);
  --token-_gjAen2BBWyf: 1.4;
  --plasmic-token-line-height-lg: var(--token-_gjAen2BBWyf);
  --token-OSvXSuYQzd7T: 0.125rem;
  --plasmic-token-size-2: var(--token-OSvXSuYQzd7T);
  --token-qQmFfOkfVGwa: #16a34a;
  --plasmic-token-success-success: var(--token-qQmFfOkfVGwa);
  --token-FpNBQRaU-qCy: #facc15;
  --plasmic-token-warning-warning: var(--token-FpNBQRaU-qCy);
  --token-47ysEQNxHTPN: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-47ysEQNxHTPN);
  --token-GRd0QOJOlkVa: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-GRd0QOJOlkVa);
  --token-vfVA4LyASLO5: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-vfVA4LyASLO5);
  --token-3QncGGCW6YpG: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-3QncGGCW6YpG);
  --token-qgji9AjJzOqh: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-qgji9AjJzOqh);
  --token-zaro_h5eaUUn: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-zaro_h5eaUUn);
  --token-d4lYj1M5fTPH: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-d4lYj1M5fTPH);
  --token-JF7M5qCG5aC9: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-JF7M5qCG5aC9);
  --token-fZn0UZPkjElC: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-fZn0UZPkjElC);
  --token-5pfrBvLeaIT1: #86efac;
  --plasmic-token-success-success-border: var(--token-5pfrBvLeaIT1);
  --token-ljSknmepPgeL: #fde047;
  --plasmic-token-warning-warning-border: var(--token-ljSknmepPgeL);
  --token-yTOoegzFz94S: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-yTOoegzFz94S);
  --token-IFY43ADNmNxw: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-IFY43ADNmNxw);
  --token-pwx8ZHuiJT8Q: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-pwx8ZHuiJT8Q);
  --token-QpyaO5tWKgiA: #00000033;
  --plasmic-token-interaction-pressed: var(--token-QpyaO5tWKgiA);
  --token-AQhQGCUg9hkc: 0.625rem;
  --plasmic-token-size-10: var(--token-AQhQGCUg9hkc);
  --token-Yzq7FFgYGZ_1: 0.75rem;
  --plasmic-token-size-12: var(--token-Yzq7FFgYGZ_1);
  --token-Kf7ilKQX50L5: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-Kf7ilKQX50L5);
  --token-536A1phhpr3Q: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-536A1phhpr3Q);
  --token-viQP4bZh0jtK: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-viQP4bZh0jtK);
  --token-HGMwwBJc1Seu: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-HGMwwBJc1Seu);
  --token-tvPN3yCLEt1I: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-tvPN3yCLEt1I);
  --token-aQLQC39j5vJH: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-aQLQC39j5vJH);
  --token-2mh_87aN6cqj: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-2mh_87aN6cqj);
  --token-RKTAzfZZt5hP: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-RKTAzfZZt5hP);
  --token-tHixfb4NGXJ4: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-tHixfb4NGXJ4);
  --token-gi5ueJ-LuzxA: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-gi5ueJ-LuzxA);
  --token-0asbZjM12Mnv: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-0asbZjM12Mnv);
  --token-qAblV19fGgTy: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-qAblV19fGgTy
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-pdtZLi0kY8_l_font-family: "Inter", sans-serif;
  --mixin-pdtZLi0kY8_l_font-size: 16px;
  --mixin-pdtZLi0kY8_l_font-weight: 400;
  --mixin-pdtZLi0kY8_l_font-style: normal;
  --mixin-pdtZLi0kY8_l_text-align: left;
  --mixin-pdtZLi0kY8_l_text-transform: none;
  --mixin-pdtZLi0kY8_l_line-height: 1.5;
  --mixin-pdtZLi0kY8_l_letter-spacing: normal;
  --mixin-pdtZLi0kY8_l_white-space: pre-wrap;
  --mixin-pdtZLi0kY8_l_user-select: text;
  --mixin-pdtZLi0kY8_l_text-decoration-line: none;
  --mixin-pdtZLi0kY8_l_text-overflow: clip;
  --mixin-pdtZLi0kY8_l_color: #000000;
  --mixin-v3F5A6w8orOS_font-weight: 700;
  --mixin-v3F5A6w8orOS_font-size: 64px;
  --mixin-v3F5A6w8orOS_line-height: 1;
  --mixin-v3F5A6w8orOS_letter-spacing: -1px;
  --mixin-v3F5A6w8orOS_white-space: pre-wrap;
  --mixin-rVw45iI1UtJK_font-size: 48px;
  --mixin-rVw45iI1UtJK_font-weight: 700;
  --mixin-rVw45iI1UtJK_letter-spacing: -0.5px;
  --mixin-rVw45iI1UtJK_line-height: 1.1;
  --mixin-rVw45iI1UtJK_white-space: pre-wrap;
  --mixin-O2XkRfahLPhg_color: #0070f3;
  --mixin-O2XkRfahLPhg_white-space: pre-wrap;
  --mixin-E10LbBSd44lx_font-size: 32px;
  --mixin-E10LbBSd44lx_font-weight: 600;
  --mixin-E10LbBSd44lx_line-height: 1.2;
  --mixin-E10LbBSd44lx_white-space: pre-wrap;
  --mixin-6bXs0EXFdgd0_font-size: 24px;
  --mixin-6bXs0EXFdgd0_font-weight: 600;
  --mixin-6bXs0EXFdgd0_line-height: 1.3;
  --mixin-6bXs0EXFdgd0_white-space: pre-wrap;
  --mixin-XLO_Bz9AFTbT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XLO_Bz9AFTbT_border-bottom-color: #dddddd;
  --mixin-XLO_Bz9AFTbT_border-bottom-style: solid;
  --mixin-XLO_Bz9AFTbT_border-bottom-width: 1px;
  --mixin-XLO_Bz9AFTbT_border-left-color: #dddddd;
  --mixin-XLO_Bz9AFTbT_border-left-style: solid;
  --mixin-XLO_Bz9AFTbT_border-left-width: 1px;
  --mixin-XLO_Bz9AFTbT_border-right-color: #dddddd;
  --mixin-XLO_Bz9AFTbT_border-right-style: solid;
  --mixin-XLO_Bz9AFTbT_border-right-width: 1px;
  --mixin-XLO_Bz9AFTbT_border-top-color: #dddddd;
  --mixin-XLO_Bz9AFTbT_border-top-style: solid;
  --mixin-XLO_Bz9AFTbT_border-top-width: 1px;
  --mixin-XLO_Bz9AFTbT_border-bottom-left-radius: 3px;
  --mixin-XLO_Bz9AFTbT_border-bottom-right-radius: 3px;
  --mixin-XLO_Bz9AFTbT_border-top-left-radius: 3px;
  --mixin-XLO_Bz9AFTbT_border-top-right-radius: 3px;
  --mixin-XLO_Bz9AFTbT_font-family: "Inconsolata";
  --mixin-XLO_Bz9AFTbT_padding-bottom: 1px;
  --mixin-XLO_Bz9AFTbT_padding-left: 4px;
  --mixin-XLO_Bz9AFTbT_padding-right: 4px;
  --mixin-XLO_Bz9AFTbT_padding-top: 1px;
  --mixin-XLO_Bz9AFTbT_white-space: pre-wrap;
  --mixin-sNWKqTfSLrpj_border-left-color: #dddddd;
  --mixin-sNWKqTfSLrpj_border-left-style: solid;
  --mixin-sNWKqTfSLrpj_border-left-width: 3px;
  --mixin-sNWKqTfSLrpj_color: #888888;
  --mixin-sNWKqTfSLrpj_padding-left: 10px;
  --mixin-sNWKqTfSLrpj_white-space: pre-wrap;
  --mixin-c3Inw88ETYlz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-c3Inw88ETYlz_border-bottom-color: #dddddd;
  --mixin-c3Inw88ETYlz_border-bottom-style: solid;
  --mixin-c3Inw88ETYlz_border-bottom-width: 1px;
  --mixin-c3Inw88ETYlz_border-left-color: #dddddd;
  --mixin-c3Inw88ETYlz_border-left-style: solid;
  --mixin-c3Inw88ETYlz_border-left-width: 1px;
  --mixin-c3Inw88ETYlz_border-right-color: #dddddd;
  --mixin-c3Inw88ETYlz_border-right-style: solid;
  --mixin-c3Inw88ETYlz_border-right-width: 1px;
  --mixin-c3Inw88ETYlz_border-top-color: #dddddd;
  --mixin-c3Inw88ETYlz_border-top-style: solid;
  --mixin-c3Inw88ETYlz_border-top-width: 1px;
  --mixin-c3Inw88ETYlz_border-bottom-left-radius: 3px;
  --mixin-c3Inw88ETYlz_border-bottom-right-radius: 3px;
  --mixin-c3Inw88ETYlz_border-top-left-radius: 3px;
  --mixin-c3Inw88ETYlz_border-top-right-radius: 3px;
  --mixin-c3Inw88ETYlz_font-family: "Inconsolata";
  --mixin-c3Inw88ETYlz_padding-bottom: 3px;
  --mixin-c3Inw88ETYlz_padding-left: 6px;
  --mixin-c3Inw88ETYlz_padding-right: 6px;
  --mixin-c3Inw88ETYlz_padding-top: 3px;
  --mixin-c3Inw88ETYlz_white-space: pre-wrap;
  --mixin-cipknjEMWUrA_display: flex;
  --mixin-cipknjEMWUrA_flex-direction: column;
  --mixin-cipknjEMWUrA_align-items: stretch;
  --mixin-cipknjEMWUrA_justify-content: flex-start;
  --mixin-cipknjEMWUrA_list-style-position: outside;
  --mixin-cipknjEMWUrA_padding-left: 40px;
  --mixin-cipknjEMWUrA_position: relative;
  --mixin-cipknjEMWUrA_list-style-type: disc;
  --mixin-cipknjEMWUrA_white-space: pre-wrap;
  --mixin-P9GpC-wuqfl5_display: flex;
  --mixin-P9GpC-wuqfl5_flex-direction: column;
  --mixin-P9GpC-wuqfl5_align-items: stretch;
  --mixin-P9GpC-wuqfl5_justify-content: flex-start;
  --mixin-P9GpC-wuqfl5_list-style-position: outside;
  --mixin-P9GpC-wuqfl5_padding-left: 40px;
  --mixin-P9GpC-wuqfl5_position: relative;
  --mixin-P9GpC-wuqfl5_list-style-type: decimal;
  --mixin-P9GpC-wuqfl5_white-space: pre-wrap;
  --mixin-8W8amvvurVm8_font-size: 20px;
  --mixin-8W8amvvurVm8_font-weight: 600;
  --mixin-8W8amvvurVm8_line-height: 1.5;
  --mixin-8W8amvvurVm8_white-space: pre-wrap;
  --mixin-0BcaqLdbYufc_font-size: 16px;
  --mixin-0BcaqLdbYufc_font-weight: 600;
  --mixin-0BcaqLdbYufc_line-height: 1.5;
  --mixin-0BcaqLdbYufc_white-space: pre-wrap;
  --mixin-4Xh-z4J5nqqq_color: #3291ff;
  --mixin-4Xh-z4J5nqqq_white-space: pre-wrap;
  --mixin-FiweDSdFrhra_white-space: pre-wrap;
  --mixin--eNWYX9cWXn6_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-pdtZLi0kY8_l_font-family);
  font-size: var(--mixin-pdtZLi0kY8_l_font-size);
  font-weight: var(--mixin-pdtZLi0kY8_l_font-weight);
  font-style: var(--mixin-pdtZLi0kY8_l_font-style);
  color: var(--mixin-pdtZLi0kY8_l_color);
  text-align: var(--mixin-pdtZLi0kY8_l_text-align);
  text-transform: var(--mixin-pdtZLi0kY8_l_text-transform);
  line-height: var(--mixin-pdtZLi0kY8_l_line-height);
  letter-spacing: var(--mixin-pdtZLi0kY8_l_letter-spacing);
  white-space: var(--mixin-pdtZLi0kY8_l_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-v3F5A6w8orOS_font-weight);
  font-size: var(--mixin-v3F5A6w8orOS_font-size);
  line-height: var(--mixin-v3F5A6w8orOS_line-height);
  letter-spacing: var(--mixin-v3F5A6w8orOS_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-rVw45iI1UtJK_font-size);
  font-weight: var(--mixin-rVw45iI1UtJK_font-weight);
  letter-spacing: var(--mixin-rVw45iI1UtJK_letter-spacing);
  line-height: var(--mixin-rVw45iI1UtJK_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-O2XkRfahLPhg_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-E10LbBSd44lx_font-size);
  font-weight: var(--mixin-E10LbBSd44lx_font-weight);
  line-height: var(--mixin-E10LbBSd44lx_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-6bXs0EXFdgd0_font-size);
  font-weight: var(--mixin-6bXs0EXFdgd0_font-weight);
  line-height: var(--mixin-6bXs0EXFdgd0_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XLO_Bz9AFTbT_font-family);
  border-radius: var(--mixin-XLO_Bz9AFTbT_border-top-left-radius)
    var(--mixin-XLO_Bz9AFTbT_border-top-right-radius)
    var(--mixin-XLO_Bz9AFTbT_border-bottom-right-radius)
    var(--mixin-XLO_Bz9AFTbT_border-bottom-left-radius);
  padding: var(--mixin-XLO_Bz9AFTbT_padding-top)
    var(--mixin-XLO_Bz9AFTbT_padding-right)
    var(--mixin-XLO_Bz9AFTbT_padding-bottom)
    var(--mixin-XLO_Bz9AFTbT_padding-left);
  border-top: var(--mixin-XLO_Bz9AFTbT_border-top-width)
    var(--mixin-XLO_Bz9AFTbT_border-top-style)
    var(--mixin-XLO_Bz9AFTbT_border-top-color);
  border-right: var(--mixin-XLO_Bz9AFTbT_border-right-width)
    var(--mixin-XLO_Bz9AFTbT_border-right-style)
    var(--mixin-XLO_Bz9AFTbT_border-right-color);
  border-bottom: var(--mixin-XLO_Bz9AFTbT_border-bottom-width)
    var(--mixin-XLO_Bz9AFTbT_border-bottom-style)
    var(--mixin-XLO_Bz9AFTbT_border-bottom-color);
  border-left: var(--mixin-XLO_Bz9AFTbT_border-left-width)
    var(--mixin-XLO_Bz9AFTbT_border-left-style)
    var(--mixin-XLO_Bz9AFTbT_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-sNWKqTfSLrpj_color);
  padding-left: var(--mixin-sNWKqTfSLrpj_padding-left);
  border-left: var(--mixin-sNWKqTfSLrpj_border-left-width)
    var(--mixin-sNWKqTfSLrpj_border-left-style)
    var(--mixin-sNWKqTfSLrpj_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-c3Inw88ETYlz_font-family);
  border-radius: var(--mixin-c3Inw88ETYlz_border-top-left-radius)
    var(--mixin-c3Inw88ETYlz_border-top-right-radius)
    var(--mixin-c3Inw88ETYlz_border-bottom-right-radius)
    var(--mixin-c3Inw88ETYlz_border-bottom-left-radius);
  padding: var(--mixin-c3Inw88ETYlz_padding-top)
    var(--mixin-c3Inw88ETYlz_padding-right)
    var(--mixin-c3Inw88ETYlz_padding-bottom)
    var(--mixin-c3Inw88ETYlz_padding-left);
  border-top: var(--mixin-c3Inw88ETYlz_border-top-width)
    var(--mixin-c3Inw88ETYlz_border-top-style)
    var(--mixin-c3Inw88ETYlz_border-top-color);
  border-right: var(--mixin-c3Inw88ETYlz_border-right-width)
    var(--mixin-c3Inw88ETYlz_border-right-style)
    var(--mixin-c3Inw88ETYlz_border-right-color);
  border-bottom: var(--mixin-c3Inw88ETYlz_border-bottom-width)
    var(--mixin-c3Inw88ETYlz_border-bottom-style)
    var(--mixin-c3Inw88ETYlz_border-bottom-color);
  border-left: var(--mixin-c3Inw88ETYlz_border-left-width)
    var(--mixin-c3Inw88ETYlz_border-left-style)
    var(--mixin-c3Inw88ETYlz_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-cipknjEMWUrA_display);
  flex-direction: var(--mixin-cipknjEMWUrA_flex-direction);
  align-items: var(--mixin-cipknjEMWUrA_align-items);
  justify-content: var(--mixin-cipknjEMWUrA_justify-content);
  list-style-position: var(--mixin-cipknjEMWUrA_list-style-position);
  padding-left: var(--mixin-cipknjEMWUrA_padding-left);
  position: var(--mixin-cipknjEMWUrA_position);
  list-style-type: var(--mixin-cipknjEMWUrA_list-style-type);
  column-gap: var(--mixin-cipknjEMWUrA_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-P9GpC-wuqfl5_display);
  flex-direction: var(--mixin-P9GpC-wuqfl5_flex-direction);
  align-items: var(--mixin-P9GpC-wuqfl5_align-items);
  justify-content: var(--mixin-P9GpC-wuqfl5_justify-content);
  list-style-position: var(--mixin-P9GpC-wuqfl5_list-style-position);
  padding-left: var(--mixin-P9GpC-wuqfl5_padding-left);
  position: var(--mixin-P9GpC-wuqfl5_position);
  list-style-type: var(--mixin-P9GpC-wuqfl5_list-style-type);
  column-gap: var(--mixin-P9GpC-wuqfl5_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-8W8amvvurVm8_font-size);
  font-weight: var(--mixin-8W8amvvurVm8_font-weight);
  line-height: var(--mixin-8W8amvvurVm8_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-0BcaqLdbYufc_font-size);
  font-weight: var(--mixin-0BcaqLdbYufc_font-weight);
  line-height: var(--mixin-0BcaqLdbYufc_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-4Xh-z4J5nqqq_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
