.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 56px;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.link__dTmkv {
  color: var(--token-37pHizh-si_m);
  padding: 9px 34px;
}
.link__jNqYf {
  color: var(--token-37pHizh-si_m);
  padding: 9px 34px;
}
.link__y6IuW {
  color: var(--token-37pHizh-si_m);
  padding: 9px 34px;
}
.link__rmHZp {
  color: var(--token-37pHizh-si_m);
  padding: 9px 34px;
}
