.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-lKWANQKSAmB-);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Ev-92DoZQ_TO);
  font-family: var(--token-8JpPRUcDNw5i);
  font-size: var(--token-cyE7GrZAzbgX);
  line-height: var(--token-fnxT9xncFbnr);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-dIyhnxpbgdTg);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-OSvXSuYQzd7T);
  outline-offset: 1px;
  outline-color: var(--token-lKWANQKSAmB-);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-eZK1hlHuzrO5);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-VaEPnMpybsP1);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-qQmFfOkfVGwa);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-FpNBQRaU-qCy);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-E3Si1lVI6Y5q);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-pmn6V9u0N8oB);
  font-size: var(--token-tzVjXOPv9j2q);
  column-gap: var(--token-OSvXSuYQzd7T);
  row-gap: 0px;
  border-radius: var(--token-89oACCTadlSN);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-tzVjXOPv9j2q);
  line-height: var(--token-pmn6V9u0N8oB);
  column-gap: var(--token-89oACCTadlSN);
  row-gap: 0px;
  border-radius: var(--token-89oACCTadlSN);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-kdRIEEZ2phAk);
  line-height: var(--token-_gjAen2BBWyf);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-kdRIEEZ2phAk);
  line-height: var(--token-_gjAen2BBWyf);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-47ysEQNxHTPN);
  border-radius: var(--token-dIyhnxpbgdTg);
}
.softBackgroundcolor_neutral {
  background: var(--token-GRd0QOJOlkVa);
}
.softBackgroundcolor_muted {
  background: var(--token-vfVA4LyASLO5);
}
.softBackgroundcolor_success {
  background: var(--token-3QncGGCW6YpG);
}
.softBackgroundcolor_warning {
  background: var(--token-qgji9AjJzOqh);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-zaro_h5eaUUn);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-dIyhnxpbgdTg);
  border: 0px solid var(--token-d4lYj1M5fTPH);
}
.bordercolor_neutral {
  border-color: var(--token-JF7M5qCG5aC9);
}
.bordercolor_muted {
  border-color: var(--token-fZn0UZPkjElC);
}
.bordercolor_success {
  border-color: var(--token-5pfrBvLeaIT1);
}
.bordercolor_warning {
  border-color: var(--token-ljSknmepPgeL);
}
.bordercolor_errorDestructive {
  border-color: var(--token-yTOoegzFz94S);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-dIyhnxpbgdTg);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-IFY43ADNmNxw);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-pwx8ZHuiJT8Q);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-QpyaO5tWKgiA);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__dk9D5 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-dIyhnxpbgdTg);
  min-width: 0;
  min-height: 0;
  padding: var(--token-dIyhnxpbgdTg) var(--token-AQhQGCUg9hkc);
}
.freeBoxsize_extraSmall__dk9D5VeXSx {
  padding: var(--token-89oACCTadlSN) var(--token-dIyhnxpbgdTg);
}
.freeBoxsize_small__dk9D5E4Cr {
  padding: var(--token-dIyhnxpbgdTg) var(--token-Ev-92DoZQ_TO);
}
.freeBoxsize_large__dk9D57Ra06 {
  padding-top: var(--token-89oACCTadlSN);
  padding-bottom: var(--token-89oACCTadlSN);
}
.freeBoxsize_extraLarge__dk9D5NrCKt {
  padding-left: var(--token-Yzq7FFgYGZ_1);
  padding-right: var(--token-Yzq7FFgYGZ_1);
}
.freeBoxroundedFull__dk9D5LkFlx {
  padding-right: var(--token-Yzq7FFgYGZ_1);
  padding-left: var(--token-Yzq7FFgYGZ_1);
}
.freeBox__mglIo {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__mglIoFkeqh {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Kf7ilKQX50L5);
}
.slotTargetStartcolor_neutral {
  color: var(--token-536A1phhpr3Q);
}
.slotTargetStartcolor_muted {
  color: var(--token-viQP4bZh0jtK);
}
.slotTargetStartcolor_success {
  color: var(--token-aQLQC39j5vJH);
}
.slotTargetStartcolor_warning {
  color: var(--token-tvPN3yCLEt1I);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-2mh_87aN6cqj);
}
.slotTargetStarttype_soft {
  color: var(--token-HGMwwBJc1Seu);
}
.slotTargetStarttype_bordered {
  color: var(--token-HGMwwBJc1Seu);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-tzVjXOPv9j2q);
}
.slotTargetStartsize_small {
  font-size: var(--token-tzVjXOPv9j2q);
}
.slotTargetStartsize_large {
  font-size: var(--token-kdRIEEZ2phAk);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-kdRIEEZ2phAk);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-RKTAzfZZt5hP);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-RKTAzfZZt5hP);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-tHixfb4NGXJ4);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-tHixfb4NGXJ4);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-gi5ueJ-LuzxA);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-gi5ueJ-LuzxA);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-0asbZjM12Mnv);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-0asbZjM12Mnv);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-qAblV19fGgTy);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-qAblV19fGgTy);
}
.svg__kcwmt {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-Kf7ilKQX50L5);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-536A1phhpr3Q);
}
.slotTargetLabelcolor_muted {
  color: var(--token-viQP4bZh0jtK);
}
.slotTargetLabelcolor_success {
  color: var(--token-aQLQC39j5vJH);
}
.slotTargetLabelcolor_warning {
  color: var(--token-tvPN3yCLEt1I);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-2mh_87aN6cqj);
}
.slotTargetLabeltype_soft {
  color: var(--token-HGMwwBJc1Seu);
}
.slotTargetLabeltype_bordered {
  color: var(--token-HGMwwBJc1Seu);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-RKTAzfZZt5hP);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-tHixfb4NGXJ4);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-RKTAzfZZt5hP);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-gi5ueJ-LuzxA);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-tHixfb4NGXJ4);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-0asbZjM12Mnv);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-gi5ueJ-LuzxA);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-qAblV19fGgTy);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-0asbZjM12Mnv);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-qAblV19fGgTy);
}
.text__bmjfl {
  white-space: pre;
}
.freeBox__dpPu8 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__dpPu8BwXa1 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Kf7ilKQX50L5);
}
.slotTargetEndcolor_neutral {
  color: var(--token-536A1phhpr3Q);
}
.slotTargetEndcolor_muted {
  color: var(--token-viQP4bZh0jtK);
}
.slotTargetEndcolor_success {
  color: var(--token-aQLQC39j5vJH);
}
.slotTargetEndcolor_warning {
  color: var(--token-tvPN3yCLEt1I);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-2mh_87aN6cqj);
}
.slotTargetEndtype_soft {
  color: var(--token-HGMwwBJc1Seu);
}
.slotTargetEndtype_bordered {
  color: var(--token-HGMwwBJc1Seu);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-tzVjXOPv9j2q);
}
.slotTargetEndsize_small {
  font-size: var(--token-tzVjXOPv9j2q);
}
.slotTargetEndsize_large {
  font-size: var(--token-kdRIEEZ2phAk);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-kdRIEEZ2phAk);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-RKTAzfZZt5hP);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-RKTAzfZZt5hP);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-tHixfb4NGXJ4);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-tHixfb4NGXJ4);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-gi5ueJ-LuzxA);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-gi5ueJ-LuzxA);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-0asbZjM12Mnv);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-0asbZjM12Mnv);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-qAblV19fGgTy);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-qAblV19fGgTy);
}
.svg__iRrql {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
